.fuse*

# All kind of Eclipse files
.settings
.classpath
.project
.cache

# Emacs backup files
*~

# Emacs autosave files
\#*\#

# Emacs lock files
.\#*

# Build artifacts
target/
dist/

# Logs
log/
logs/

