.fuse*

# All kind of Eclipse files
.settings
.classpath
.project
.cache
.externalToolBuilders

# Emacs backup files
*~

# Emacs autosave files
\#*\#

# Emacs lock files
.\#*

# Build artifacts
target/

# Logs
log/
logs/

# Private developers' files
private/
