body {
	/* Gray background */
	background-color: #d6d9df;
	/* Some space in the footer */
	margin-bottom: 20px;
}

/* Darker background for headers */
h1, h2, h3 {
	margin: 10px;
	padding: 10px;	
	background-color: #37556F;
	color: white;
}

h1 {
	font: bold 2em Arial;
}

h2 {
	font: bold 1em Arial;
}

/* Font for all normal text */
p, td, a {
	font: 13px Arial, Freesans, sans-serif;
	color: black;
}

/* TextField-like look for all major tags */
h1, h2, h3, p {
	box-shadow:inset 0 0 3px #000000;
}

p, table {
	margin: 5px 5px 0px 20px;
	background-color: white;
	display: block;
	max-width: 800px;
	padding: 10px;
}

p {
	line-height: 1.6;
}

table {
	width: 820px;
}

thead td {
	background-color: #316594;
	color: white;
	border: 1px solid gray;	
}

tr, td {
	border: 1px solid gray;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}

code {
	margin: 5px 5px 0px 40px;
	padding: 0px 5px;
	border: 1px solid #EAEAEA;
	background-color: #F8F8F8;
	display: inline-block;
	font-family: 0.8em Tahoma;
	line-height: 1.3;
}

p code {
	margin: 0px 2px;
}

ul,ol {
	/* Giving lists room to breath. */
	margin: 1em;
	/* Bringing lists on to the page with breathing room. */
	margin-left: 60px;
	/* Making right border aligned with others. */	
	max-width: 785px;
}

ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers. */
	list-style: disc outside;
}
